# Entorno / editor
.env
.env.* 
venv/
env/
.ipynb_checkpoints/
__pycache__/
*.pyc
.vscode/

# Datos generados / pesados
data/*.png
data/*.jpg
data/*.pdf
data/*.db
data/*.parquet
data/*.zip

data/figs/
.vscode/
# Notebooks de caché
*.log
